/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
    background-image: url("../images/polka-dots.png");
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 4px 0px 0px 0px;
}

/* left panel ----------------------------------- */
#historyDivs {
    background-color: white;
    margin: 3% 1% 0% 2%;
    width: 20%;
    padding: 1%;
    float: left;
    opacity: 0.8;
}

#rgbButtons {
    clear: both;
    margin: 5% 0% 15% 0%;
}

/* game title */
.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0; 
}

#redTitle {
    border: 2px solid rgb(256, 0, 0);
    color: rgb(256, 0, 0);
}

#greenTitle {
    border: 2px solid rgb(0, 256, 0);
    color: rgb(0, 256, 0);
}

#blueTitle {
    border: 2px solid rgb(0, 0, 256);
    color: rgb(0, 0, 256);
}

#redTitle,
#greenTitle,
#blueTitle {
    margin: 0% 2% 0% 2%;
}

#score {
    clear: both;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.weightCabin {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 0px 5px 0px 5px;
}

#pastGuessesColorText {
    margin-bottom: 2px;
}

#pastGuessesColorDiv {
    float: left;
    width: 20%;
    height: 20px;
    margin-right: 10px;
    margin-top: 4px;
}

.clear {
    clear: both;
    margin-top: 20px;
}

/* right panel ----------------------------------- */
.myContainer {
    width: 74%;
    margin: 2% 2% 0% 1%;
    float: left;
}
.aboveColorDiv,
.aboveFormDiv {
    margin: 0px 0px 15px 5px;
}

.aboveFormDiv {
    padding-top: 15px;
}

#colorDivs {
    background-color: white;
    width: 100%;
    padding: 2%;
    background-size: 80px 80px;
}

/* where the actual colors go */
#questionColorDiv,
#guessColorDiv {
	width: 100%;
	height: 50px;
    margin-bottom: 10px;
}

form {
    font-family: 'Open Sans', sans-serif;
}

/*submit button */
#selectionColorButton {
    margin-left: 20px;
    line-height: 24px;
}

