body {
    background-image: url("../images/white_wall_hash.png");
}

.myContainer {
    width: 73%;
    margin-right: 3%;
}

#colorDivs {
    width: 100%;
    padding: 2%;
    background-color: #fcfcfc;
}

#historyDivs {
    float: left;
    margin: 2% 2% 0% 2%;
    width: 20%;
    padding: 1%;
}

#questionColorDiv,
#guessColorDiv {
	width: 100%;
	height: 50px;

}

button {
    margin: 1%;
}

.oneLine {
    font-size: 20px;
    padding: 15px 0px 15px 0px;
    margin: 0px;
}

.twoLine {
    font-size: 20px;
    padding: 15px 0px 25px 0px;
    margin: 0px;
}

#pastGuessesColorText {
    margin-bottom: 2px;
}

#pastGuessesColorDiv {
    float: left;
    width: 20%;
    height: 20px;
    margin-right: 10px;
    margin-top: 4px;
}

.floatLeft {
    float: left;
}

.clear {
    clear: both;
}
